<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- Google sign-in uses the provider-owned sign-in intent; DoomScore does not use
         client-side biometric/passkey authentication. Remove unused transitive SDK permissions. -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" tools:node="remove" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.snapchat.android" />
    </queries>
    <application android:name=".DoomApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /><data android:scheme="doomscore" android:host="invite" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /><data android:scheme="https" android:host="doomscore.gridcc.tech" android:pathPrefix="/i/" />
            </intent-filter>
        </activity>
        <service android:name=".tracking.ReelAccessibilityService" android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:label="Doomscore reel counter">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service" />
        </service>
        <service android:name=".tracking.CounterTile" android:exported="true" android:icon="@drawable/ic_doom"
            android:label="Doomscore counter" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
        <receiver android:name=".tracking.LiveCounterDismissReceiver" android:exported="false" />
        <receiver android:name=".widget.CounterWidget" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/counter_widget" />
        </receiver>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.files"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
